<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/login.css"></link>
  <title>DevBook - Login</title>
</head>
<body>
  <div class="container-login">
    <div>
      <form class="devbook-form" id="formulario-login">
        <span>Seja bem vindo ao DevBook!</span>
        <div>        
          <input type="email" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
        </div>
        <div>
          <input type="password" name="password" id="password" placeholder="Digite o seu password" required="required">
        </div>
        <a href="/criar-usuario">Clique aqui para criar a sua conta</a>
        <button type="submit" class="btn-devbook">Login</button>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/login.js"></script>
</body>
</html>